<% include ../partials/header%>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">info 3</li>
			</div>
		</div>

		<div class="col-md-9">
			<div class="img-thumbnail">
				<img class="img-fluid rounded mx-auto d-block"src="<%= campground.image %>">
				<div class="caption-full row">
					<div class="col-sm-6">
						<h4><a href=""><%=campground.name%></a></h4>
					</div>
					<div class="col-sm-6">
						<h4 class="figure-caption text-right">$<%= campground.price %>/night</h4>
					</div>
					
					<div class="container">
						<p><%= campground.description %></p>
						<p>
						<em>Submited by:
						<%= campground.author.username %></em>
						</p>
					</div>
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<div class="container">
						<a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
						<form class="delete-form" method="POST" action="/campgrounds/<%= campground._id %>?_method=DELETE">
							<button class="btn btn-sm btn-danger">Delete</button>
						</form>

					</div>

					<% } %>
					
					
				
				</div>
			</div>

			<hr>
			<div class="card">
				  <div class="card-header">
				    <div class="text-right">
					<a  class="btn btn-success"
						href="/campgrounds/<%= campground._id %>/comments/new">
					Add new comment
					</a>
				  </div>

					
				</div>
				  <div class="card-body text-white bg-secondary mb-3">
				    <% campground.comments.forEach(function(comment){ %>
				    <div class="row">
				    	<div class="col-md-12">
				    		<strong><%= comment.author.username %></strong>
				    		<p>
    							<%- comment.text %>
    						</p>
				    	</div>
				    	
				    		
				    	<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
				    	<div class="container">
				    	<a class="btn btn-sm btn-warning" 
				    	href="/campgrounds/<%= campground._id%>/comments/<%=comment._id%>/edit">edit</a>
				    	<form action="/campgrounds/<%= campground._id%>/comments/<%=comment._id%>?_method=DELETE" class="delete-form" method="POST">
				    		<button class="btn btn-sm btn-danger">Delete
				    	</form>
				    	</div>
				    	<% } %>
				    	
				    </div>

    				

					<% }) %>
				  </div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer%>